@import '../src/database/seed/remote/modules/utils/assets/scss/variables/color';

:root {
  --footer-height: 102px;
}

main-component {
  footer-main-component {
    background-color: $light-blue;
    color: #fff;
    max-height: var(--footer-height);
    min-height: var(--footer-height);
    width: 100%;
  }
}
