@use 'src/database/seed/remote/modules/utils/assets/scss/variables/color' as
  colorVars;
@use 'src/database/seed/remote/modules/utils/assets/scss/variables/shadows' as
  shadowVars;

main-component {
  auth-component {
    animation: color-change 15s linear infinite alternate;
    background: radial-gradient(
        farthest-corner at top,
        mix(colorVars.$light-blue-6, colorVars.$deep-purple-6, 15%),
        colorVars.$light-blue-6
      )
      top right/200% 150%;
    color: colorVars.$deep-purple-5;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-shadow: shadowVars.$shadow-text-1;
    align-items: center;

    dynamic-html-view-component {
      display: none;
    }

    .card {
      background-color: colorVars.$blue-grey-1;
      box-shadow: shadowVars.$shadow-24;
    }
  }
}

@keyframes color-change {
  to {
    background-position: center left;
  }
}
