@import 'src/database/seed/remote/modules/utils/assets/scss/variables/color';

main-component {
  nav-left-main-component {
    background-color: $light-blue;
    color: #fff;
    max-width: 300px;
    min-width: 300px;
  }
}
