@import 'src/database/seed/remote/modules/utils/assets/scss/variables/color';
@import 'src/database/seed/remote/modules/utils/assets/scss/helpers';
@import 'src/database/seed/remote/modules/utils/assets/scss/theme/main/elements';
@import 'src/database/seed/remote/modules/utils/assets/scss/theme/main/layout/layout.main';

body {
  font-size: 14px;
  height: 100dvh;
  margin: 0;
  width: 100dvw;

  &,
  * {
    font-family: Geneva, sans-serif;
  }

  style,
  script {
    display: none !important;
  }
}
