@use 'src/database/seed/remote/modules/utils/assets/scss/variables/color' as
  colorVars;

/* card glow animation */
:has(> .glow) {
  position: relative;
  z-index: 0;

  .glow {
    position: relative;
    z-index: unset;

    &::after,
    &::before {
      position: absolute;
      content: '';
      left: -2px;
      top: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      background: linear-gradient(
          45deg,
          #f353,
          #00f3,
          #0f0,
          #ff0,
          #f006,
          #f35,
          #ff0,
          #0f0,
          #00f3,
          #f003
        )
        0 0;
      background-size: 200%;
      border-radius: inherit;
      animation: move-gradient 25s ease-in-out alternate infinite;
    }

    &::after {
      background: linear-gradient(
          45deg,
          #f353,
          #00f3,
          #f003,
          #0f09,
          #ff09,
          #f356,
          #00f3,
          #f003,
          #0f09,
          #ff09,
          #00f3,
          #f003,
          #f356
        )
        0 0;
      left: -100%;
      top: -100%;
      width: 300%;
      height: 300%;
      background-size: 300%;
      filter: blur(256px);
      animation: move-gradient-blur 30s ease-in-out alternate infinite;
    }
  }
}

@keyframes move-gradient-blur {
  to {
    background-position: 300%;
  }
}

@keyframes move-gradient {
  to {
    background-position: 100% 100%;
  }
}

/* card glow animation */
