@use '../src/database/seed/remote/modules/utils/assets/scss/variables/shadows'
  as shadowVars;

:root {
  --card-border-radius: 8px;
  --card-padding: 16px;
  --card-margin: 16px;
}

.card {
  align-items: flex-start;
  border-radius: var(--card-border-radius);
  box-shadow: shadowVars.$shadow-2;
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);

  .actions {
    display: flex;
    justify-content: center;
    margin-top: var(--card-margin);
    width: 100%;
  }
}
